/* TITLES */

.title-xl {
  font-size: var(--text-xl);
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;

  -webkit-text-stroke: 1px black;
}

.title-line {
  height: 1px;
  background-color: var(--color-text);
  border: none;
}

.title-line-md {
  width: var(--title-line-md);
  margin: 0 auto;
}

/* COLORS */
.lavander {
    color: var(--color-theme-lighter);
}

.bright {
  color: var(--color-accent);
}