/* HEADER */

/* Header */
header {
    width: 100vw;
    height: var(--height-header);
    top: 0;
    justify-content: space-between !important;
    position: fixed;
    z-index: 10;

    background-color: var(--color-background);
    text-transform: uppercase;

    box-shadow: 0 5px 5px -5px var(--color-dark-purple-overlay);
}

/* Title */
.header-title .logo {
    width: 50px;
}

.header-title > .title {
    font-weight: 300;
    font-size: 20px;
}

/* Menu Nav */
.header-menu {
    width: 25vw;
    font-size: var(--text-base);
    font-weight: 300;
}

.header-menu img {
    height: 30px;
    position: absolute;
    padding-left: 3px;
    padding-bottom: 8px;
}

.header-menu > ul {
    display: flex;
    padding-top: 5px;

    list-style: none;
} 

.header-menu > ul > li {
    width: 150px;
    min-width: 100px;
    text-align: center;
}
/* Menu > Dropdown */
.header-menu .dropdown {
    display: none;
    width: 150px;
    position: absolute;
    padding: 15px 15px;

    background-color: var(--color-background);
    border-radius: 10px;
    
    font-size: 14px;
}

.header-menu .dropdown li {
    padding: 7px 0;
    text-align: center;
}

.item-dropdown:hover .dropdown {
    display: block;
}