/* Removing margins, paddings and borders */
* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Removing decorations */
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

ul {
	list-style: none;
}


