@import url(integrantes.css);
@import url(a-liga.css);
@import url(footer.css);
@import url(header.css);
@import url(variables.css);
@import url(reset.css);
@import url(utilities.css);

/* ---GENERAL--- */

/* Defines site's font */
body {
	font-family: var(--main-font);
    background-color: var(--color-background);
    font-size: var(--text-md);
}

a:focus {
    outline: none;
}

/* Defines the site's breathing space*/
header,
main > section,
footer {
	padding-right: 15vw;
    padding-left: 15vw;
}

/* Prevents the header from covering the main */
section {
    min-height: fit-content;
    height: 100vh;

    box-shadow: 0 5px 5px -5px var(--color-dark-purple-overlay);
    padding-bottom: 80px;

    scroll-margin-top: var(--height-header);
	padding-top: var(--height-header);
}

button {
    background-color: unset;
    border: none;
    cursor: pointer;
}

/* ---SECTION COVER--- */
.cover {
    background-size: cover;
    background-repeat: no-repeat;
}

.container-title {
    width: fit-content;
    height: 55%;
    margin: 0 auto;
    position: relative;

    flex-direction: column;
    justify-content: end;

    color: var(--color-background);
}


